{
    "plugins": [
      ["module-resolver", {
        "alias": {
          "components": "./src/components",
          "common": "./src/common",
          "themes": "./src/themes",
          "utils": "./src/utils"
        }
      }]
    ]
  }